In [1]:
!pip install pymongo[srv]

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.7/dist-packages (4.1.1)
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.2.1-py3-none-any.whl (269 kB)
     |████████████████████████████████| 269 kB 5.1 MB/s
Installing collected packages: dnspython
Successfully installed dnspython-2.2.1

In [2]:
!pip install pymongo[tls]

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymongo[tls] in /usr/local/lib/python3.7/dist-packages (4.1.1)
WARNING: pymongo 4.1.1 does not provide the extra 'tls'

In [3]:
pip install dnspython

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: dnspython in /usr/local/lib/python3.7/dist-packages (2.2.1)

In [4]:
import pandas as pd
import datetime
import pymongo
from pymongo import MongoClient 
import urllib.parse
import numpy as np
import math
from datetime import date, datetime, timedelta
from collections import Counter

In [5]:
cluster = pymongo.MongoClient("mongodb+srv://tasneemmoussa:tastas@cluster0.3oall.mongodb.net/?retryWrites=true&w=majority") 

db = cluster["Taxi_trip"]
collection = db["taxi_trip"]

In [6]:
df_taxi = pd.read_csv('/content/taxi_trip_data.csv', encoding= 'unicode_escape', nrows = 20000, parse_dates=["pickup_datetime", "dropoff_datetime"])

In [7]:
#dropping column store_and_fwd_flag
df_taxi = df_taxi.drop(columns=['store_and_fwd_flag'])

In [8]:
#dropping column rate_code
df_taxi = df_taxi.drop(columns=['rate_code'])

In [9]:
#dropping column total_amount
df_taxi = df_taxi.drop(columns=['total_amount'])

In [10]:
#dropping rows where passenger count = 0
df_taxi.drop(df_taxi[(df_taxi['passenger_count']==0)].index, inplace=True)

In [11]:
#duration
duration = df_taxi['dropoff_datetime'] - df_taxi['pickup_datetime']
df_taxi['duration'] = duration / np.timedelta64(1, 'm')

In [12]:
#time of day column
morning = []
afternoon = []
evening = []

for i in range (0,2000):
  if(df_taxi.iloc[i].pickup_datetime.time().hour >= 12 and df_taxi.iloc[i].pickup_datetime.time().hour < 17):
    afternoon.append(df_taxi.iloc[i]['payment_type'])
  
  elif (df_taxi.iloc[i].pickup_datetime.time().hour>= 17 or df_taxi.iloc[i].pickup_datetime.time().hour < 5):
    evening.append(df_taxi.iloc[i]['payment_type'])

  else:
    morning.append(df_taxi.iloc[i]['payment_type'])

Morning = Counter(morning)
Afternoon = Counter(afternoon)
Evening = Counter(evening)

print(Morning)
print(Afternoon)
print(Evening)

Counter({1: 337, 2: 173, 4: 4, 3: 1})
Counter({1: 331, 2: 180, 4: 3, 3: 1})
Counter({1: 679, 2: 286, 3: 5})

In [13]:
#in the above cell we observed that payment type (1) is the most commom used among the day

In [14]:
#total trip cost
total_trip_cost = df_taxi['fare_amount'] + df_taxi['extra'] + df_taxi['mta_tax'] + df_taxi['tip_amount'] + df_taxi['tolls_amount'] + df_taxi['imp_surcharge']

df_taxi['total_trip_cost'] = total_trip_cost

In [15]:
#average tip amount per passenger count
avg = collection.aggregate(
    [
     {
         "$group":
          {
              "_id": "$passenger_count",
               "tip": {"$avg": "$tip_amount"}
              
          }
     }
    ]
)

for i in avg:
  print(i['_id'], i['tip'])

3 2.059090909090909
6 2.3997297297297298
5 2.154782608695652
2 1.7661075949367089
1 1.8413216783216784
4 1.4578378378378378

In [16]:
#the best 5 locations for drivers to pick up passengers from
top_locations = collection.aggregate(
    [ {
    "$group": {
        "_id": {"pickup_location_id": "$pickup_location_id",
        },
        "count": {"$sum": 1},
    }},
     {"$sort": {
        "count": -1
    }}
  
])

zone = 0
for i in top_locations:
    print("common: ", i)
    zone += 1
    if zone == 5:
        break
print(zone)

common:  {'_id': {'pickup_location_id': 237}, 'count': 170}
common:  {'_id': {'pickup_location_id': 161}, 'count': 156}
common:  {'_id': {'pickup_location_id': 230}, 'count': 148}
common:  {'_id': {'pickup_location_id': 186}, 'count': 140}
common:  {'_id': {'pickup_location_id': 162}, 'count': 132}
5

In [17]:
#insertion
Trips = []
num = 0
for x in range(0,2000):
  tod = " "
  if(df_taxi.iloc[x].pickup_datetime.time().hour >= 12 and df_taxi.iloc[x].pickup_datetime.time().hour < 17):
    tod = 'afternoon'
  
  elif (df_taxi.iloc[x].pickup_datetime.time().hour>= 17 or df_taxi.iloc[x].pickup_datetime.time().hour < 5):
    tod = 'evening'

  else:
    tod = 'morning'

  Trips = Trips + [{'vendor_id': int(df_taxi.iloc[x].vendor_id),
                    'passenger_count': int(df_taxi.iloc[x].passenger_count),
                    'pickup_datetime': str(df_taxi.iloc[x].pickup_datetime),
                    'dropoff_datetime': str(df_taxi.iloc[x].dropoff_datetime),
                    'trip_distance': float(df_taxi.iloc[x].trip_distance),
                    'payment_type': int(df_taxi.iloc[x].payment_type),
                    'fare_amount': float(df_taxi.iloc[x].fare_amount),
                    'extra': float(df_taxi.iloc[x].extra),
                    'mta_tax': float(df_taxi.iloc[x].mta_tax),
                    'tip_amount': float(df_taxi.iloc[x].tip_amount),
                    'tolls_amount': float(df_taxi.iloc[x].tolls_amount),
                    'imp_surcharge': float(df_taxi.iloc[x].imp_surcharge),
                    'pickup_location_id': int(df_taxi.iloc[x].pickup_location_id),
                    'dropoff_location_id': int(df_taxi.iloc[x].dropoff_location_id),
                    'duration': float(df_taxi.iloc[x].duration),
                    'total_trip_cost': float(df_taxi.iloc[x].total_trip_cost),
                    'time_of_day': tod
                    }]
  num = num + 1

collection.insert_many(Trips)
print(num,"taxis were inserted")

2000 taxis were inserted